<h1>Monster Files</h1>
<h2><%= @monster.species.capitalize %></h2>
<br>
<h3>Lore:</h3>
<p><%= @monster.lore %></p>
<h3>How to Kill:</h3>
<p><%= @monster.how_to_kill %></p>
<br>
<a href="/monsters/<%= @monster.id %>/edit"><button type="button">Edit Monster</button></a>
<% if @monster.hunters.include?(current_user) %>
    <br>
    <br>
    <form method="POST" action="/monsters/<%= @monster.id %>">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Monster">
    </form>
<% end %>