<body>
    <h2>Have new information? Let us know below!</h2>
    <p>Fill out the form below to edit the details of this case. The current case information is auto-filled.</p>
    <form method="POST" action="/cases/<%= @case.id %>">
        <input type="hidden" id="hidden" name="_method" value="patch">
        <h4><label for="location">Case Location (state):</label></h4>
        <input type="text" name="case[location]" value="<%= @case.location %>">
        <br>
        <br>
        <h4><label for="description">Case Description:</label></h4>
        <textarea name="case[description]"><%= @case.description %></textarea>
        <br>
        <br>
        <h3>Select a hunter and/or monster to assign to this case or create a new one below.</h3>
        <br>
        <p>Existing Hunters:</p>
        <% @hunters.each do |hunter| %>
            <input type="radio" name="case[hunter_id]" value="<%= hunter.id %>"<%= 'checked' if @case.hunter_id == hunter.id %>> <%= hunter.name %></input>
            <br>
        <% end %>
        <br>
        <br>
        <p>Create a new Hunter</p>
            
        <br>
        <p>Monster assigned to this case:</p>
        <% @monsters.each do |monster| %>
            <input type="radio" name="case[monster_id]" value="<%= monster.id %>"<%= 'checked' if @case.monster_id == monster.id %>> <%= monster.species.capitalize %></input>
            <br>
        <% end %>
        <br>
        <input type="submit" value="Edit Case">
    </form>
</body>