<h1>Hunter's Office</h1>
<h2><%= @hunter.name %></h2>
<h3>YOUR INFORMATION:</h3>
<strong>Age:</strong> <%= @hunter.age %>
<br>
<strong>Email:</strong> <%= @hunter.email %>
<br>
<strong>Username:</strong> <%= @hunter.username %>
<br>
<br>
<a href="/hunters/<%= @hunter.id %>/edit"><button type="button">Edit Information</button></a>
<br>
<br>
<ul><h3>YOUR CASES:</h3>
<% @cases.each do |c| %>
    <li>☠ <a href="/cases/<%= c.id %>"><%= c.name %></a></li>
<% end %></ul>
<br>
<br>
<form method="POST" action="/hunters/<%= @hunter.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account">
</form>