<h2>Have a new case?</h2>
<% if @errors %>
    <p><b>I'm sorry, there were errors processing your request. The errors are displayed below:</b></p>
    <p><%= @errors %></p>
<% end %>
<p>Fill out the form below to submit a new case to the site.</p>
<form method="POST" action="/cases">
    <label for="case[name]">Case Name:</label>
    <input type="text" name="case[name]">
    <br>
    <label for="case[location]">Case Location (state):</label>
    <input type="text" name="case[location]">
    <br>
    <label for="case[description]">Case Description:</label>
    <textarea name="case[description]"></textarea>
    <br>
    <br>
    <p>Assign a hunter to this case:</p>
    <% @hunters.each do |hunter| %>
        <input type="radio" name="case[hunter_id]" value="<%= hunter.id %>"> <%= hunter.name %></input>
        <br>
    <% end %>
    <br>
    Assign a monster to this case:
    <h5>If no monster exists that suits this case, please submit the case without a monster then navigate to the "Create New Monster" link at the bottom of the page. During new monster creation you will be able to assign the monster to this case.</h5>
    <br>
    <p>Existing Monsters:</p>
    <% @monsters.each do |monster| %>
        <input type="radio" name="case[monster_id]" value="<%= monster.id %>"> <%= monster.species.capitalize %></input>
        <br>
    <% end %>
    <br>
    <input type="submit" value="Submit Case">
</form>