<h1>Case Files</h1>
<h2><%= @case.name %></h2>
<br>
<h3>Location:</h3>
<p><%= @case.location %></p>
<h3>Description:</h3>
<p><%= @case.description %></p>
<h3>Monster:</h3>
<p><%= @monster.species.capitalize %></p>
<h3>Hunter Assigned to This Case:</h3>
<p><%= @hunter.name %></p>
<br>
<br>
<a href="/cases/<%= @case.id %>/edit"><button type="button">Edit Case</button></a>
<form method="POST" action="/cases/<%= @case.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Case">
</form>